body{
	font-family: 'Open Sans', sans-serif;
	color: #777;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	text-transform: uppercase;
	line-height: 20px;
	font-weight: 600;
	margin: 0;
	color: #555;
}
h3 {
	font-size: 16px;
	font-weight: 700;
	color: #555;
}
h4 {
	font-weight: 500;
	margin-top: 0;
	color: #555;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 14px;
}
.p_margin {
	margin-top: 20px;
	margin-bottom: 30px;
}
.p_margin0 {
	margin: 0;
}
.space {
	margin-top: 40px;
}
a {
	color: #754747;
}
a:hover, a:focus {
	text-decoration: none;
	color: #F4D03F;
}
ul, ol {
	list-style: none;
}


hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #E75926;
	margin: 40px auto;
	border: 0;
}


/*//Navigation//*/
.navbar {
	margin: 0;
	padding: 0;
	background: #333;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 0;
}
.navbar a.navbar-brand  {
	color: #fff!important;
	font-weight: 600;
}
.navbar .navbar-brand i {
	color: #E75926;
	margin-right: 10px;
}

.navbar ul li a {
	color: #fff!important;
}
.navbar ul li a:hover {
	color: #E75926!important;
}
#intro {
	display: table;
	width: 100%;
	height:100vh;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../img/intro-bg.jpg) no-repeat center center fixed;
	background-color: #000;
}
.intro_text {
	display: table-cell;
	vertical-align: middle;
}
.intro_text h1 {
	font-size: 76px!important;
	font-weight: 700;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
}
.intro_text p {
	font-size: 18px;
}
.intro_text a,#contact .form-group a {
    margin-top: 8rem;
    padding: 12px 22px;
    font-size: 18px;
    border: none;
    background: #E75926;
    transition: all 0.5s;
}
.intro_text a:hover,#contact .form-group a:hover {
	background: #a13e1a;;
}
#about{
	padding: 14rem 0;
	background: #f6f6f6;
}
.about_img_sec img {
   width: 100%;
}
.about_text_blk2 p:before {
	content: "✓";
    font-weight: 600;
    padding-right: 10px;
    color: #e75926;
}
.about_text_blk2 p.ptext:before {
	content: " ";
	padding-right: 0;

}
#services {
	background: url(../img/services-bg.jpg);
	    background-size: cover;
    background-attachment: fixed;
	padding: 14rem 0;
}
#services h2,#testimonial h2 {
    color: #f6f6f6;
    }
#services .services_text_blk span {
    color: #e75926;
    font-size: 36px;
}
#services .services_text_blk h3 {
	font-size: 20px;
    font-weight: 600;
    color: #f6f6f6;
}
#services .services_text_blk p {
   color: rgba(255,255,255,0.7);
}
#team {
	padding: 14rem 0;
	background: #e6e6e6;
}
#team .team_detail {
	margin-top: 50px;
}
#team .team_detail .thumbnail {
	background: none;
	border: none;
}
#team .team_detail .thumbnail img {
	width: 200px;
	height: 200px;
}
#testimonial {
	 background: url(../img/testimonials-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ddd;
    padding: 140px 0;
}

#testimonial blockquote {
	border: 0;
}
#testimonial blockquote i {
	font-size: 24px;
    color: rgba(255,255,255,0.3);
    margin-bottom: 14px;
}
#testimonial blockquote .client-name {
	border-top: 1px solid rgba(255,255,255,0.3);
	width: 50%;
    margin: 25px auto;
    padding-top: 25px;
}
#contact {
	background: #f6f6f6;
	padding-top: 14rem;
	padding-bottom: 3rem;
}
#contact .contact_details {
	padding: 50px 0;
}
#contact .contact_details span {
	color: #E75926;
	padding-bottom: 10px;
}
#contact h3 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 40px;
}

#contact .form-group .form-inline input {
	width: 48%;
    margin-right: 26px;
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: none;
}
#contact .form-group .form-inline input:last-child {
	margin-right: 0;
}
#contact .form-group .form-inline input:focus {
	border: 1px solid #333;
	box-shadow: none;
}
#contact .form-group textarea {
	border-radius: 0;
	box-shadow: none;
}
#contact .form-group textarea:focus {
	border: 1px solid #333;
	box-shadow: none;
}
#contact .form-group a {
	margin-top: 2rem;
    padding: 10px 25px;
    font-size: 14px;
}
#contact .follow_us_sec {
	padding-top: 40px;
}
#contact .follow_us_sec ul {
	padding-left: 50px;
}
#contact .follow_us_sec li {
	margin-right: 20px;
}
#contact .follow_us_sec li a i {
	font-size: 24px;
	color: #cf5022;
    border-radius: 4px;
    transition: all 0.3s;
}
#contact .follow_us_sec li a:hover {
	background: transparent;
}
footer  {
	padding: 20px 0;
}
footer p {
	font-size: 13px;
    margin-top: 10px
}
footer p a {
	color: #999999;
	transition: all 0.5s;
}
footer p a:hover {
	color: #e75926;
}






























